@model SiteProduct.Models.ProductAddViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Додати продукт</h2>
<i class="fa fa-plus"></i>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AddProductViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, 
                   new { htmlAttributes = new { @class = "form-control", style="display: none" } })
                <div id="textEdit" class="html-editor-autoinit">

                </div>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Styles {
    <link href="~/Scripts/froala-editor/css/plugins/char_counter.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/code_view.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/colors.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/draggable.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/emoticons.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/image.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/image_manager.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/line_breaker.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/quick_insert.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/table.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/video.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/editor_custom.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/froala_editor.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/froala_style.css" rel="stylesheet" />
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/froala-editor/js/ua.js"></script>
    <script src="~/Scripts/froala-editor/js/froala_editor.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/align.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/char_counter.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_view.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/colors.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/draggable.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/emoticons.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/entities.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/font_family.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/font_size.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/forms.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image_manager.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/line_breaker.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/link.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/lists.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/quick_insert.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/quote.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/save.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/table.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/url.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/video.min.js"></script>

    <script>
        $(function () {
            $(".html-editor-autoinit").froalaEditor({
                toolbarButtons: ['bold', 'italic', 'underline', 'paragraphFormat', '|',
                    'color', 'emoticons', 'formatUL', 'formatOL', 'align', 'outdent', 'indent', '|',
                    'quote', 'insertHR', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', 'undo', 'redo', 'clearFormatting', 'html'],
                imageUploadURL: '/Product/UploadImageDecription',
                imageMaxSize: 2 * 1024 * 1024,
                paragraphFormat: {
                    N: 'Звичайний',
                    H2: 'H2',
                    H3: 'H3',
                    H4: 'H4',
                    H5: 'H5',
                    H6: 'H6'
                },
                language: 'ua'
            }).on('froalaEditor.image.error', function (e, ditor, error, response) {
                if (error.code == 5) {
                    alert("Розмір файлу не повинен бути більше 2 мб.");
                }
                return false;
            });
        });
    </script>
}
